<div>
<h1>Stupid Coaching</h1>
<ol class = "border-start border-5 ms-2 list-unstyled">
  <li id ="question"><%= @question %></li>
  <li id ="answer">-Your Coach: <%= @answer %></li>
</ol>
<%= link_to "ask a new question", ask_path, class: "custom-link" %>
</div>
